body{
    font-family: 'Luckiest Guy', cursive;
    font-family: 'Luckiest Guy', cursive;
    font-family: 'Chonburi', cursive;
    background-color: rgba(0, 0, 0, 0.945);
 
}
.thumbnail{
    height: 80px;
}